name: Déploiement

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Début du déploiement
        run: echo "Début du déploiement"

      - name: Afficher le token
        run: echo "DEPLOY_TOKEN=${{ secrets.DEPLOY_TOKEN }}"

      - name: Fin du déploiement
        run: echo "Déploiement terminé par Fomagha"
